* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #4d2c5e;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-blue: #4461e4;
  --color-danger: #ff7426;
  --color-white: #fff;
  --color-gray: #aaa;
  --color-black: #000;
  --color-red: hsl(351, 83%, 61%);

  --color-bg: #fdf8ee;
  /* --color-bg1: #3c3f58;
  --color-bg2: #707793; */

  /* --color-bg: hsl(42, 94%, 55%); */

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.7;
  color: var(--color-black);
  /* background-color: var(--color-white);
  z-index: -4; */
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  /* text-align: center; */
  margin-bottom: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.5;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-black);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

span{
  color: var(--color-danger);
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 0.5rem;
}

.btn:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-black);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  border: 2px solid transparent;
}

/* ===================== NAVBAR =================== */
nav {
  background: transparent;
  user-select: none;
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.9rem;
}

.nav-logo img {
  max-height: 60%;
  width: auto;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav_menu a {
  font-size: 1rem;
  transition: var(--transition);
  color: var(--color-black);
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
}

.nav_menu a:hover {
  border-color: var(--color-primary);
}

.window-scroll {
  background: var(--color-white);
  box-shadow: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
}

/* ======================== HEADER ============================ */
header {
  overflow: hidden;
  height: 100vh;
  width: auto;
  background-image: url(./assets/header-bg.png);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.hero-left p {
  margin: 1rem 0 2.4rem;
}

.hero-right {
  height: 100%;
  /* border: 5px solid red; */
  overflow: hidden;
}

.hero-right-image {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  /* border: 5px solid red; */
}

.hero-right-image img {
  border-radius: 5rem;
  align-self: start;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.hero-right-image img:nth-child(2) {
  animation-delay: 200ms;
}
.hero-right-image img:nth-child(1) {
  animation-delay: 400ms;
}

.hero-support {
  position: absolute;
  display: flex;
  right: -1rem;
  bottom: 1rem;
  background: var(--color-white);
  padding: 2rem;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 3rem 0.5rem 3rem 0.5rem;
  box-shadow: inset var(--color-danger) 0px 0px 50px -20px;
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
  cursor: pointer;
}

.hero-support.btn:hover {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.hero-support-icon {
  color: var(--color-danger);
  background-color: #ff762691;
  padding: 0.5rem 0.9rem;
  font-size: 1.2rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-support-number h5 {
  font-size: 0.8rem;
}

.hero-support-number p {
  font-size: 1.2rem;
}

/* ==================== FEATURES ================= */
.features-container {
  margin-bottom: 5rem;
  background: rgb(253, 248, 238);
  background: linear-gradient(
    to bottom,
    var(--color-bg) 50%,
    var(--color-white) 50%
  );
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 2rem;
  gap: 2.5rem;
  background: var(--color-primary);
  border-radius: 1rem;
  color: var(--color-white);
  margin-bottom: 5rem;
}

.feature {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.feature-icon {
  padding: 1rem;
  background: rgba(169, 169, 169, 0.2);
  border-radius: 0.5rem;
}

.feature-icon i {
  font-size: 2rem;
  color: var(--color-success);
}

.feature:nth-child(2) .feature-icon i {
  color: var(--color-warning);
}
.feature:nth-child(3) .feature-icon i {
  color: var(--color-blue);
}

.feature-info h4 {
  font-size: 1.2rem;
}

.feature-info p {
  font-size: 0.9rem;
  text-align: justify;
  color: var(--color-gray);
}

/* ================== CATEGORIES ================= */
.categories-container h2 {
  text-align: center;
  margin: 5rem 0 2rem 0;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.category {
  background-color: #00bf8f20;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem 1.5rem;
}

.category-icon {
  height: 70px;
  width: 70px;
  padding: 1rem;
  background: #00bf8f40;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
}

.category-icon i {
  font-size: 2rem;
  color: var(--color-success);
}

.course-category {
  background-color: #00bf8f40;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  user-select: none;
  color: var(--color-success);
}

.category:nth-child(2) {
  background-color: hsla(351, 83%, 61%, 20%);
}
.category:nth-child(2) .category-icon {
  background: hsla(351, 83%, 61%, 40%);
}
.category:nth-child(2) .category-icon i {
  color: var(--color-red);
}
.category:nth-child(2) .course-category {
  background-color: hsla(351, 83%, 61%, 40%);
  color: var(--color-red);
}

.category:nth-child(3) {
  background-color: #4461e420;
}
.category:nth-child(3) .category-icon {
  background: #4461e440;
}
.category:nth-child(3) .category-icon i {
  color: var(--color-blue);
}
.category:nth-child(3) .course-category {
  background-color: #4461e420;
  color: var(--color-blue);
}

.category:nth-child(4) {
  background-color: #f7c94b20;
}
.category:nth-child(4) .category-icon {
  background: #f7c94b40;
}
.category:nth-child(4) .category-icon i {
  color: var(--color-warning);
}
.category:nth-child(4) .course-category {
  background-color: #f7c94b40;
  color: var(--color-warning);
}

/* ================== POPULAR COURSES ================= */
.courses {
  margin-top: 2rem;
}

.courses h2 {
  text-align: center;
}

.popular-courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: #fdf8ee05;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.course:hover {
  background-color: var(--color-bg);
}

.course-image {
  transition: var(--transition);
  width: 96%;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.course-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.course-info {
  padding: 1rem;
  position: relative;
}

.course-info h4 {
  font-size: 1.2rem;
}

.course-info p {
  font-size: 0.9rem;
  text-align: justify;
  color: var(--color-gray);
  margin: 0.5rem 0;
}

.course-info h5 {
  font-size: 1.2rem;
  color: var(--color-danger);
}

.course-description {
  display: flex;
  margin: 1.2rem 0 2rem 0;
  border-top: 1px solid var(--color-gray);
  color: var(--color-gray);
  padding-top: 0.5rem;
}

.course-time,
.course-students {
  font-size: 0.9rem;
}
.course-time {
  border-right: 1px solid #555;
  padding-right: 0.5rem;
}
.course-students {
  padding-left: 0.5rem;
}

.course-time i,
.course-students i {
  color: #555;
}

.course-students span, .course-time span{
  color: var(--color-gray);
}

.course-info a {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
  background-color: var(--color-danger);
  transition: var(--transition);
}

.course-info a:hover {
  background-color: var(--color-danger);
  color: var(--color-white);
  border: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ==================== FEATURES SECTION 2 ========================= */
.features2-continer {
  margin: 5rem 0;
  width: 100%;
  overflow: hidden;
  height: auto;
  background-image: url(./assets/header-bg.png);
  background-position: bottom;
  background-size: cover;
}

.features2-content-continer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-side-feature-section2 {
  width: 80%;
  height: 80%;
}

.right-side-feature-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.right-side-feature-section2 h4 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.feature2 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.feature2-icon {
  padding: 1rem 1.3rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  align-items: center;
}

.feature2-icon i {
  font-size: 1.5rem;
  color: var(--color-success);
}
.feature2:nth-child(3) i {
  color: var(--color-warning);
}

.feature2-info h5 {
  font-size: 1.15rem;
}

.feature2-info p {
  font-size: 0.9rem;
}

/* ========================== TESTIMONIAL SECTION =========================== */
.testimonial-container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial-container h2 {
  margin: 2rem 0;
  text-align: center;
}

.testimonial {
  background: var(--color-white);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
  user-select: none;
}

.testimonial-body {
  margin-bottom: 0.8rem;
}

.testimonial-body p {
  font-size: 0.9rem;
  color: var(--color-gray);
}

.testimonial-person {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 0.7rem;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
}

.testimonial-info h5 {
  font-size: 0.9rem;
}

.testimonial-info small {
  font-size: 0.8rem;
  color: var(--color-gray);
}

/* ========================= FOOTER ========================= */
footer {
  background: var(--color-bg2);
  padding-top: 2.5rem;
  font-size: 0.9rem;
  margin-top: 5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background: var(--color-bg);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-logo img {
  width: 40px;
  margin-right: 0.5rem;
}

.footer-logo h4 {
  font-size: 1.2rem;
}

.footer1 p {
  margin: 0 0 2rem;
}

.footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer-copyright {
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
  border-top: 1px solid var(--color-gray);
}

/* ===================== MEDIA QUERIES (TABLETS) ================= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /* ======================== NAVBAR ====================== */
  nav button {
    display: inline;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-black);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 4rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav_menu li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav_menu li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav_menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav_menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
  }
  .nav_menu li a:hover {
    color: var(--color-black);
    background: var(--color-bg);
  }

  /* ====================== HEADER ========================= */
  header{
    height: 45vh;
  }
  .hero-support{
    padding: 1.2rem;
  }
  .hero-support-icon{
    font-size: 1rem;
    padding: 0.5rem 0.9rem;
  }
  .hero-support-number p {
    font-size: 1rem;
  }

  /* ==================== FEATURES ================= */
  .feature{
    flex-direction: column;
    text-align: center;
  }

  /* ================== CATEGORIES ================= */
  .categories{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* ================== POPULAR COURSES ================= */
  .popular-courses-container{
    grid-template-columns: 1fr 1fr;
  }
  .courses-container{
    grid-template-columns: 1fr 1fr;
  }

  /* ==================== FEATURES SECTION 2 ========================= */
  .right-side-feature-section2{
    margin: 1rem 0;
  }

  /* ====================== FOOTER ====================== */
  .footer-container{
    grid-template-columns: 1fr 1fr;
  }
}

/* ===================== MEDIA QUERIES (PHONES) ================= */
@media screen and (max-width: 600px){
  .container{
    width: var(--container-width-sm);
  }

  /* ========================= NAVBAR ================================= */
  .nav_menu{
    right: 3%;  
  }

  /* ============================HERO SECTION================================= */
  header{
    height: 96vh;
  }

  .hero-container{
    grid-template-columns: 1fr;
  }

  .hero-support{
    margin-right: 1rem;
    padding: 1rem;
  }

  .hero-support-icon{
    padding: 0.3rem 0.7rem;
  }

  .hero-support-icon i{
    font-size: 0.9rem;
  }

  .hero-support-number h5 {
    font-size: 0.7rem;
  }
  
  .hero-support-number p {
    font-size: 0.9rem;
  }

  /* ==================== FEATURES ================= */
  .features{
    grid-template-columns: 1fr;
  }
  .feature-info p{
    text-align: center;
  }

  /* ================== CATEGORIES ================= */
  .categories{
    grid-template-columns: 1fr;
  }

  /* ================== POPULAR COURSES ================= */
  .popular-courses-container{
    grid-template-columns: 1fr;
  }
  .courses-container{
    grid-template-columns: 1fr;
  }

  .course{
    margin-top: 1rem;
  }

  /* ==================== FEATURES SECTION 2 ========================= */
  .features2-content-continer{
    grid-template-columns: 1fr;
    place-items: center;
  }

  .right-side-feature-section2 h4{
    margin-top: 1.5rem;
  }

  /* ====================== FOOTER ====================== */
  /* .footer-container{
    grid-template-columns: 1fr;
  } */

}