.contact-container{
    background: var(--color-bg);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/* ===================== ASIDE =================== */
.contact-aside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
    color: var(--color-white);
}

.aside-map{
    width: 100%;
    margin-bottom: 2rem;
}

.aside-map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact-aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

}

.contact-socials a{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: 25%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact-socials a:hover{
    color: var(--color-primary);
    background: var(--color-bg);
}

/* ================== FORM ================ */
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form-name{
    display: flex;
    gap: 1.2rem;
}

.contact-form input[type="text"]{
    width: 50%;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-white);
    border-radius: 0.5rem;
    color: var(--color-black);
}

.contact-form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}


/* ======================= MEDIA QUERIES (TABLES) ================ */
@media screen and (max-width: 1024px){
    .contact-container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact-aside{
        width: auto;
        position: 1.5rem;
        bottom: 0;
    }

    .contact-form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

/* ================ MEDIA QUERIES (PHONES)================= */
@media screen and (max-width: 600px){
    .contact-container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact-form{
        margin: 0 1.5rem 3rem;
    }

    .form-name{
        flex-direction: column;
    }

    .form-name input[type="text"]{
        width: 100%;
    }
}